body {
    background: lavender;
}

body *{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.container {

    margin: 0px auto;
    border: solid;
    border-radius: 25px;
    background: whitesmoke;
    padding-top: 50px;
    padding-bottom: 25px;

}

.question-number, .question-header, .quiz-score {
    text-align: center;
    position: relative;
}

.quiz-container, .final-container{
    display:none;
}

.submit-button, .next-button, .restart-button {
    padding: 10px 24px;
    border-radius: 2px;
    position: relative;
    width: 25%;
    display: inline-block;
}

.correct-answer
{
    background-color: green;
}

.incorrect-answer
{
    background-color: red;
}